<div class="jumbotron text-light bg-dark">
  <h1>Todo List App</h1>
  <p>List of tasks you have completed today and yet to complete. Give yourself a pat on the back.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <figure class="figure">
      <img src="/static/images/todo.jpeg" class="figure-img img-fluid rounded"
        alt="Todo app image.">
      <figcaption class="figure-caption text-center">Consistency is the Key.</figcaption>
    </figure>
  </div>
  <div class="col-md-8">
    <p>To-do lists: your personal life's GPS. They keep you on track, prevent you from
    getting lost in the chaos, and make sure you reach your destination - success!"</p>

    <p>Or, how about this motivational quote:</p>

    <p>"Remember, every task on your to-do list is one step closer to your 'ta-da'
    list!"</p>

    <p>So, whether you view your to-do list as your life's GPS or as a pathway to your
    'ta-da' moments, they are essential for staying organized and achieving your
    goals.</p>
  </div>
</div>
